.pokelist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokelist a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokelist li {
    margin: 0.5rem;
    height: 140px;
    width: 120px;
    border-radius: 10%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
    background-color: white;
}

.pokelist h4 {
    text-transform: capitalize;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.65rem;
    color: #20366a
}

.pokeListContainer {
    max-width: 700px;
}

.showMorePokemonsButton {
    border: none;
    background-color: transparent !important;
}

.pokeGif {
    height: 60px;
    margin-top: 1rem;
}

.pokeGif-container p {
    background-color: none;
    margin-bottom: 1rem;
}