.habilityData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    min-width: 40vw;
    border-radius: 33px;
    background: rgb(54, 113, 45);
    background: linear-gradient(90deg, rgba(54, 113, 45, 0.7231267507002801) 0%, rgba(26, 127, 148, 1) 100%);
    align-self: center;
    box-shadow: 0.25rem 0px 0.25rem 0px rgb(75, 75, 82);
}

.habilityData h3 {
    background-color: transparent;
    text-decoration: solid underline;
    font-size: 1.5rem;
    color: rgb(6, 41, 139);
    padding: 1rem;
}

.habilityData ul,
.habilityData li {
    background-color: transparent;
}

.habilityData ul {
    padding-bottom: 1rem;
}