* {
  background-color: rgb(189, 189, 189);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header h1,
.header h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

.header h1 {
  color: rgb(255, 238, 0);
}

.header h2 {
  color: blue;
}

.home a {
  width: 100%;
}

.pokemon-name {
  color: rgb(39, 39, 39);
}