@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1,
.header h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

.header h1 {
  color: rgb(38, 0, 255);
}

.header h2 {
  color: rgb(255, 0, 140);
}


.pokemon-name {
  color: rgb(39, 39, 39);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}